@import "../../style.scss";

.navbar {
    @include themify($themes) {
        padding: 10px 20px;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid themed("border");
        position: sticky;
        top: 0;
        background-color: themed("bg");
        color: themed("textColor");
        z-index: 999;

        @include mobile {
            padding: 10px;
        }

        .left-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .app-icon {
                display: flex;
                gap: 5px;
                img {
                    width: 30px;
                    height: 30px;
                    margin: auto 5px;
                }
            }

            span {
                font-size: 2rem;
                font-weight: 540;
                color: themed("logo");
                font-family: monospace;
            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("border");
                border-radius: 5px;
                padding: 5px;

                input {
                    width: 20rem;
                    padding: 5px 10px;
                    background-color: transparent;
                    color: themed("textColor");
                    border: none;

                    @include mobile {
                        display: none;
                    }

                    @include tablet {
                        width: 8rem;
                    }
                }
            }
        }

        .right-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            
            @include mobile {
                display: none;
            }

            .user-icon {
                display: flex;
                align-items: center;
                gap: 5px;
                img {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}
