@import '../../style.scss';

.rightbar {
    @include themify($themes) {
        flex: 2.5;
        position: sticky;
        top: calc(3rem + 20px);
        height: calc(100vh - 3rem - 20px);
        overflow: scroll;
        background-color: themed("bgSoft");
        color: themed("textColor");

        &::-webkit-scrollbar {
            display: none;
        }

        
        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

        .container {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 20px;

            .item {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                border-radius: 0.5rem;
                background-color: themed("bg");

                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);

                span {
                    font-size: 0.8rem;
                }

                .user {
                    display: flex;
                    justify-content: space-between;

                    .user-info {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        width: 100%;
                        position: relative;

                        img {
                            height: 30px;
                            min-width: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .online {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: limegreen;
                            position: absolute;
                            top: 5px;
                            left: 25px;
                        }
                        
                        p {
                            color: themed("textColorSoft");
                        }

                        span {
                            font-weight: 500;
                            font-size: 1rem;
                            color: themed("textColor");
                        }
                    }

                    .buttons {
                        display: flex;
                        gap: 10px;

                        button {
                            display: block;
                            min-height: 70%;
                            margin: auto 0 auto 0;
                            padding: 5px 5px;
                            border: none;
                            color: white;
                            cursor: pointer;
                            border-radius: 3px;

                            &:first-child {
                                background-color: #5271ff;
                            }

                            &:last-child {
                                background-color: #f0544f;
                            }
                        }
                    }

                    .timeline {
                        span {
                            font-size: 0.8rem;
                            color: themed("textColorSoft");
                        }
                    }
                }
            }

        }
    }

}